*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}


html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.background{
	background-image: url("../img/principala.png");
	background-size:  100% auto ;
	background-attachment: scroll;
	background-repeat: repeat;
}
.undertale{
	padding: 3% 0 0 1%;
	text-align: center;
	margin: 0 auto;
}
.navigation_block{
	position: sticky;
	top: 0;
	
	text-align: center;
	/*border-color: red;
	border-style: solid;
	border-width: 1px;*/
	
}
.navigation{
	font-family: "Gouranga-pixel";
	font-size: 20px;
	display: inline-flex;
	justify-content: space-between;
	width: 70%;
	background-color: black;
	border-color: white;
	border-style: solid;
	border-width: 7px;
}
.choose {
	display: flex;
	padding: 1.3% 2% 1% 2%;
	color: white;
	align-items: center;
}

.choose:hover{
	color: yellow;
}
.choose:before{
	content: "";
	margin: 0 2px 0 0;
	width: 15px;
	height: 15px;
	display: inline-block;
}

.choose:hover:before{
	color: yellow;
	content: "";
	background-image:url('../img/soul.png');
	background-size: 100% 100%;
	margin: 0 2px 0 0;
	width: 15px;
	height: 15px;
	display: inline-block;
	
}

.info{
	background-color: rgba(0, 0, 0, 0.63);
	margin: 0 auto;
	width: 50%;
	border-color: white;
	border-style: solid;
	border-width: 7px;
	font-size: 20px;
	color: white;
	font-family: Rubik-r;
}
h1{
	text-align: center;
	font-family: "Gouranga Pixel";
	font-size: 30px;
	margin: 10px 0 0 0;
}
hr{
	margin: 0 auto;
}
.evid{
	color: yellow;
}
.info p{
	padding: 10px 10px 0 10px;
}
.info ul{
	padding: 0 10px;
	font-family: Rubik-i;
}
.info ul li:before{
	content: "*";
	padding:  0 2px 0 0 ;
}
.info ol{
	padding: 0  0 0 30px;
	font-family: Rubik-i;
}
.prezentare{
	display: flex;
	align-items:center;
}
.dialog{
	
	width: fit-content;
	background-color: rgb(95, 12, 121);
	border-radius: 20px;
	padding: 25px;
	font-family: "Gouranga-pixel";
}
.link{
	color: #CD38C9;
}
.link:hover{
	color: #f59cf2;
}
.bold{
	font-family: Rubik-b;
}
.italic{
	font-family: Rubik-i;
}

@font-face {
	font-family: 'Gouranga-pixel';
	src: url('../fonts/Gouranga/Gouranga-Pixel.eot');
	src: url('../fonts/Gouranga/Gouranga-Pixel.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/Gouranga/Gouranga-Pixel.svg#Gouranga-Pixel') format('svg'),
		  url('../fonts/Gouranga/Gouranga-Pixel.ttf') format('truetype'),
		  url('../fonts/Gouranga/Gouranga-Pixel.woff') format('woff'),
		  url('../fonts/Gouranga/Gouranga-Pixel.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }
 
 

@font-face {
	font-family: 'Rubik-r';
	src: url('../fonts/rubik/Rubik-Regular.eot');
	src: url('../fonts/rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/rubik/Rubik-Regular.svg#Rubik-Regular') format('svg'),
		  url('../fonts/rubik/Rubik-Regular.ttf') format('truetype'),
		  url('../fonts/rubik/Rubik-Regular.woff') format('woff'),
		  url('../fonts/rubik/Rubik-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }
 
 
 @font-face {
	font-family: 'Rubik-b';
	src: url('../fonts/rubik/Rubik-Bold.eot');
	src: url('../fonts/rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/rubik/Rubik-Bold.svg#Rubik-Bold') format('svg'),
		  url('../fonts/rubik/Rubik-Bold.ttf') format('truetype'),
		  url('../fonts/rubik/Rubik-Bold.woff') format('woff'),
		  url('../fonts/rubik/Rubik-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }
 
 
 @font-face {
	font-family: 'Rubik-i';
	src: url('../fonts/rubik/Rubik-Italic.eot');
	src: url('../fonts/rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/rubik/Rubik-Italic.svg#Rubik-Italic') format('svg'),
		  url('../fonts/rubik/Rubik-Italic.ttf') format('truetype'),
		  url('../fonts/rubik/Rubik-Italic.woff') format('woff'),
		  url('../fonts/rubik/Rubik-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }
 
 
 @font-face {
	font-family: 'Comic-Sans';
	src: url('../fonts/comic_sans/Comic-Sans-MS-pixel-rus-eng.svg#Comic-Sans-MS-pixel-rus-eng') format('svg'),
		  url('../fonts/comic_sans/Comic-Sans-MS-pixel-rus-eng.ttf') format('truetype'),
		  url('../fonts/comic_sans/Comic-Sans-MS-pixel-rus-eng.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }
 
 @font-face {
	font-family: 'Comic-sans';
	src: url('../fonts/comic_sans/Comic_sans_pixel.eot');
	src: url('../fonts/comic_sans/Comic_sans_pixel.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/comic_sans/Comic_sans_pixel.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }
 
 
@font-face {
	font-family: 'Papyrus-pixel';
	src: url('../fonts/papyrus_pixel/Papyrus-PixelRUSENG.svg#Papyrus-PixelRUSENG') format('svg'),
		  url('../fonts/papyrus_pixel/Papyrus-PixelRUSENG.ttf') format('truetype'),
		  url('../fonts/papyrus_pixel/Papyrus-PixelRUSENG.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }
 
 @font-face {
	font-family: 'Papyrus-pixel';
	src: url('../fonts/papyrus_pixel/papyrus-pixel.eot');
	src: url('../fonts/papyrus_pixel/papyrus-pixel.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/papyrus_pixel/papyrus-pixel.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }
 
 